.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-img {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-desc {
  font-size: 1.1rem;
  color: #555;
}

.profile-icons a {
  margin: 0 0.5rem;
  font-size: 1.6rem;
  color: #333;
}

.profile-icons a:hover {
  color: #0366d6;
}
